{% extends 'base_curso.html' %}

{% block head-titulo %}
    Lista de estudiantes
{% endblock %}

{% block contenido %}
    <h3>Estudiantes</h3>
    <hr>
    {# Llamado a los mensajes #}
    {% include 'fragmentos/messages.html' %}
    {# Controles formulario de busqueda y boton de Agregar #}
    <div class="row">
        <div class="col-md-8">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <!-- /.navbar-collapse -->
                    <div class="container searchbardiv" id="formsearch">
                        <form role="search" method="get" id="searchform">
                            <div class="input-group">
                                <input name="q" class="form-control" placeholder="Escribe los parametros de busqueda" id="buscador">
                                <div class="input-group-btn">
                                    <button class="btn btn-default"  id="searchsubmit"  type="submit">
                                        <strong>Busqueda</strong>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
        <div class="col-md-4">
            <a href="{% url 'registrar_estudiante' %}" class="btn btn-primary">
                Agregar nuevo
            </a>
        </div>
    </div>
    <hr />
    <br>

    <table class="table">
        <thead class="thead-light">
            <tr>
              <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
              <th scope="col">Fecha Nacimiento</th>
              <th scope="col">Email</th>
              <th scope="col">Estado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for estudiante in estudiantes %}
                <tr>
                    <td>{{ estudiante.nombres }}</td>
                    <td>{{ estudiante.apellidos }}</td>
                    <td>{{ estudiante.fecha_nacimiento|date:"M d, Y" }}</td>
                    <td>{{ estudiante.email }}</td>
                    {% if estudiante.estado == 1 %}
                        <td>Activo</td>
                    {% elif estudiante.estado == 2 %}
                        <td>Inactivo</td>
                    {% endif %}
                    <td class="text-center">
                        <div class="btn-group mr30">
                            <a class="btn btn-primary active" data-toggle="tooltip" data-placement="top" title="Editar"
                                    href="{% url 'editar_estudiante' estudiante.pk %}">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-warning active" data-toggle="tooltip" data-placement="top" title="Ver detalle"
                                    href="{% url 'view_student' estudiante.pk %}">
                                <i class="fa fa-id-card" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar" href="{% url 'eliminar_estudiante' estudiante.pk %}">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <h4>No existe información que mostrar en la busqueda/lista</h4>
            {% endfor %}
        </tbody>
    </table>

    {# Tag de Django que permite incluir fragmentos de html y reutilizarlos enviando un parametro #}
    {% include "fragmentos/pagination.html" with pages_obj=estudiantes %}

{% endblock %}

{% block extra-js %}
    <script>
        {# Script para llamar al metodo tooltip y mostrar un titulo en los iconos de la tabla #}
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}

