{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>IT EDUCA | {% block head-titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        {# menu de navegacion #}
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'lista_estudiantes' %}">Estudiantes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'lista_cursos' %}">Cursos</a>
            </li>

            {% if request.user.is_authenticated %}
              <li>
                  <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
              </li>
            {% else %}
              <li>
                  <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
              </li>
            {% endif %}
          </ul>
        </nav>
        <h3 class="text-muted">IT EDUCA</h3>
      </div>
      {% block contenido %}
            <div class="jumbotron">
                <h1 class="display-3">Jumbotron heading</h1>
                <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
            </div>
      {% endblock %}
        <div style="width: 100% !important; background: lightslategray; color: aliceblue">
            <footer>
                <p>&copy; Desarrollo estudiantes IT Capacitamos 2018</p>
            </footer>
        </div>
    </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    {% block extra-js %}{% endblock %}
  </body>
</html>
