{% extends 'base_curso.html' %}

{% block head-titulo %}
    Lista de cursos
{% endblock %}

{% block contenido %}
    <h3>Cursos</h3>
    <hr>
    {# Llamado a los mensajes #}
    {% include 'fragmentos/messages.html' %}
    {# Controles formulario de busqueda y boton de Agregar #}
    <div class="row">
        <div class="col-md-8">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <!-- /.navbar-collapse -->
                    <div class="container searchbardiv" id="formsearch">
                        <form role="search" method="get" id="searchform">
                            <div class="input-group">
                                <input name="q" class="form-control" placeholder="Escribe los parametros de busqueda" id="buscador">
                                <div class="input-group-btn">
                                    <button class="btn btn-default"  id="searchsubmit"  type="submit">
                                        <strong>Busqueda</strong>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
        <div class="col-md-4">
            <a href="{% url 'registrar_curso' %}" class="btn btn-primary">
                Agregar Curso
            </a>
        </div>
    </div>
    <hr />
    <br>

    {# Tabla lista de objetos #}
    <table class="table">
        <thead class="thead-light">
            <tr>
              <th scope="col">Título</th>
                <th scope="col">Asignatura</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Fecha</th>
              <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
                <tr>
                    <td>{{ curso.titulo }}</td>
                    <td>{{ curso.asignatura }}</td>
                    <td>{{ curso.descripcion }}</td>
                    <td>{{ curso.fecha_creacion|date:"M d, Y" }}</td>
                    <td class="text-center">
                        <div class="btn-group mr30">
                            <a class="btn btn-primary active"
                                    href="#">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-danger" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <h4>No existe información que mostrar en la busqueda/lista</h4>
            {% endfor %}
        </tbody>
    </table>

    {# Tag de Django que permite incluir fragmentos de html y reutilizarlos enviando un parametro #}
    {% include "fragmentos/pagination.html" with pages_obj=cursos %}

{% endblock %}